.black-square 
{
    background-color: #b58863;
}
.white-square 
{
    background-color: #f0d9b5;
}
.square
{
    height: 75px;
    width: 75px;
    display: inline-block;
}
.board
{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: absolute;
    left: 50px; 
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -999;
}
.piece
{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 75px;
    width: 75px;
    overflow: visible;
}
.pieces
{
    width: 600px;
    height: 600px;
    position: absolute;
    left: 50px; 
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.game-container
{
    width: 950px;
    height: 600px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.container
{
    user-select: none;
    background-color: #efefef;
    font-family: BasierCircle,system-ui,-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.menu-container
{
    width: 300px;
    height: 600px;
    position: absolute;
    right: 0; 
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(255,255,255,.9);;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.logo-container
{
    margin-top: 11px;
    color: rgb(168, 168, 168);
    transition: all .2s ease-in-out;
    cursor: pointer;
    width: 300px;
    height: 35px;
    text-align: center;
}
.new-game-button
{
    margin-top: 7px;
    color: rgb(168, 168, 168);
    cursor: pointer;
    width: 260px;
    height: 35px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: inset 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 7px;
    transition: all .2s ease-in-out;
}
.new-game-button:hover
{
    background-color: #ececec;
}
.settings-button
{
    color: rgb(168, 168, 168);
    cursor: pointer;
    width: 260px;
    height: 35px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: inset 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 8px;
    padding-top: 7px;
    transition: all .2s ease-in-out;
}
.settings-button:hover
{
    background-color: #ececec;
}
.blur-background
{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
}
.new-game-container
{
    position: absolute;
    width: 400px;
    height: 500px;
    background-color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 16px;
    z-index: 10000;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
}
.exit-button
{
    position: absolute;
    width: 50px;
    height: 27px;
    text-align: center;
    background-color: #efefef;
    right: 0;
    margin: 5px;
    border-radius: 12px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.exit-button:hover
{
    color: white;
    background-color: #ff0000;
}
.pwaf-button
{
    margin-top: 7px;
    color: rgb(168, 168, 168);
    cursor: pointer;
    width: 260px;
    height: 35px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: inset 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 7px;
    margin-top: 20px;
    transition: all .2s ease-in-out;
}
.pwaf-button:hover
{
    background-color: #ececec;
}
.set-name-container
{
    position: absolute;
    width: 400px;
    height: 260px;
    background-color: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    z-index: 10000;
}
.set-name-title
{
    position:absolute;
    width: 300px;
    height: 32px;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    font-size: 20px;
    text-align:center;
    margin-top: 44px;
}
.username-input
{
    position:absolute;
    width: 300px;
    height: 32px;
    left: 0;
    right: 0;
    top: 0;
    bottom:0;
    margin: auto;
}
.continue-button
{
    position: absolute;
    width: 90px;
    height: 32px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    background-color: rgb(28, 156, 255);
    border-radius: 6px;
    margin-bottom: 40px;
    cursor: pointer;
    padding-top: 5px;
    color: white;
}
.game-code-container
{
    text-align: center;
    margin-top: 23px;
}
.actual-game-code
{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 167px;
    height: 78px;
    background-color: #efefef;
    border-radius: 8px;

    border-width: 1px;
    border-color: #c3c3c3;
    text-align: center;
    padding-top: 12px;
    font-size: 44px;
    user-select: text;
    font-weight: 300;
    margin-top: 20px;
}
.enter-game-code-text
{
    text-align: center;
    margin-top: 130px;
}
.gc-input
{
    width: 232px;
    height: 32px;
    margin: auto;
    left: 0;
    outline: none;
    border: none;
    background-color: #efefef;

    border-width: 1px;
    border-color: #c3c3c3;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-left: 10px;
}
.gc-input-container
{
    position: absolute;
    width: 300px;
    height: 32px;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20px;
}
.gc-button
{
    width: 70px;
    height: 28px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    background-color: #578eff;
    padding-top: 2px;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: #578eff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    transition: all .2s ease-in-out;
}
.gc-button:hover
{
    background-color: #6d9eff;

}
.gamemodes-title
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 50px;
    margin: auto;
    text-align: center;
    font-size: 30px;
    margin-top: 28px;
}
.ng-button
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 140px;
    height: 39px;
    margin: auto;
    text-align: center;
    background-color: #578eff;
    color: white;
    border-radius: 8px;
    margin-top: 277px;
    padding-top: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.ng-button:hover
{
    background-color: #6d9eff;

}
.pwaf-menu
{
    height: 320px;
    width: 400px;
    position: absolute;
    margin-top: 65px;
}
.userinfo-container
{
    position:absolute;
    left:0;
    height:600px;
    width:50px;
    background-color: white;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.player-name-container
{
    position: absolute;
    writing-mode: vertical-lr;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    width: 32px;
    height: 260px;
    overflow: hidden;
}
.player1
{
    text-align:left;
    bottom: 0;
    padding-top: 15px;
}
.player2
{
    text-align: right;
    top: 0;
    padding-bottom: 15px;
}
.chat-container
{
    margin-top: 20px;
    width: 300px;
    height: 490px;
}
.chat-title-container
{
    text-align: center;
    width: 260px;
    height: 32px;
    padding-top: 5px;
    color: rgb(168, 168, 168);
    border-width: 1px;
    border-style: solid;
    border-color: #c3c3c3;
    margin: auto;
    border-bottom: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.chat-divider
{
    width: 260px;
    height: 1px;
    background-color: rgb(195 195 195);
    margin: auto;
    border-radius: 12px;
}
.chat-ui-container
{
    width: 260px;
    height: 329px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #c3c3c3;
    box-shadow: inset 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    overflow-y: scroll;
}
.message-container
{
    width: 200px;
    height: 50px;
    left: 19px;
    position: absolute;
    margin: auto;
    border-bottom-left-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #c3c3c3;
    padding: 15px;
    padding-right: 0px;
    border-top: none;
    border-right: none;
    outline: none;
}
.message
{
    width: 227px;
    height: auto;
    overflow-wrap: break-word;
    padding: 7px;
    font-size: 13px;
}
.send-button
{
    width: 31px;
    height: 22px;
    right: 19px;
    position: absolute;
    margin: auto;
    border-bottom-right-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #c3c3c3;
    padding: 15px;
    border-top: none;
    border-left: none;
    text-align: center;
    padding-top: 12px;
    color: #3b77ff;
    cursor: pointer;
}